html,
body {
  display: block;
  scroll-behavior: smooth;
  font-family: "Century Gothic";
  height: 100%;
  width: 100%;
  margin: 0;
}

.topnav {
  width: 100%;
  text-align: center;
}

.topnav li {
  display: inline-block;
  float: none;
}

.topnav a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.topnav a:hover {
  color: #b17419;
}

footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: #d9d6c3;
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: 50px;
}

#ig {
  font-size: 40px;
  margin: 5px;
  color: black;
}

footer h4 {
  margin-top: 1px;
  margin-bottom: 0px;
}

/* NEW CODE*/
.orderwrap {
  height: 80%;
  width: 100%;
  background-image: url(../images/Orders.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.orders {
  text-align: center;
  margin-top: 50px;
}

.orderinfo {
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  height: 400px;
  background-color: rgba(217, 214, 195, 0.6);
}

.orderinfo {
}
