* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  scroll-behavior: smooth;
  font-family: "Century Gothic";
  height: 100%;
  width: 100%;
  /* margin: 0; */
}

#container {
  min-height: 100%;
  /* background-color: red; */
}

#main {
  overflow: auto;
  padding-bottom: 75px;
}

.topnav {
  position: relative;
  width: 100%;
  text-align: center;
}

.topnav li {
  display: inline-block;
  float: none;
}

.topnav a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.topnav a:hover {
  color: #b17419;
}

/* MOBILE NAV */
.mobiletopnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: none;
}

#links {
  display: none;
}

.mobiletopnav a {
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobiletopnav a.icon {
  background-color: #d9d6c3;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  display: block;
  height: 700px;
  /* width: 100%; */
  width: 99%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-image: url(../images/wrapper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;
}

.auxiliary-container {
  width: 100%;
  text-align: center;
}

.auxiliary-text {
  /* display: table-cell; */
  /* width: 413px; */
  /* text-align: center; */

  text-align: left;

  display: inline-block;
  vertical-align: top;

  margin-left: 40px;
  margin-right: 40px;
  line-height: 0.6;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  /* background-color: hotpink; */
}

.auxiliary-text p {
  line-height: 1.3;
}

footer {
  position: relative;
  background-color: #d9d6c3;
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: -75px;
  clear: both;
}

#ig {
  font-size: 40px;
  margin: 5px;
  color: black;
}

footer h4 {
  margin-top: 1px;
  margin-bottom: 0px;
}

/* CandleCare IS BELOW*/
.candlecarewrapper {
  background-image: url(../images/candlecare.jpg);
  height: 85%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.candlecare {
  position: fixed;
  text-align: center;
  margin-top: 25px;
  color: #000000;
  height: 40%;
  width: 100%;
  top: 30%;
  padding: 1px;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
  overflow: auto;
}

.candlecare h1 {
  font-size: 2em;
}

.candlecare h4 {
  font-size: 1em;
  line-height: 4;
}

.candlecare::-webkit-scrollbar {
  -webkit-appearance: none;
}

.candlecare::-webkit-scrollbar:vertical {
  width: 10px;
}

.candlecare::-webkit-scrollbar:horizontal {
  height: 10px;
}

.candlecare::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(217, 214, 195, 0.7); /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.7);
}

/*Animations*/
@keyframes candlecaretrans {
  from {
    background-color: #d9d6c3;
  }
  to {
    background-color: rgba(217, 214, 195, 0.7);
  }
}

/* ORDER PAGE IS BELOW*/
.orderwrap {
  position: fixed;
  height: 85%;
  width: 100%;
  background-image: url(../images/Orders.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.orderinfo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 50vw;
  height: 40%;
  text-align: center;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
  overflow: auto;
}

.orderinfo h3 {
  font-size: 2em;
  padding-top: auto;
  line-height: 3em;
}

.orderinfo h4 {
  font-size: 1em;
  line-height: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecare h4 {
    line-height: 2;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobiletopnav {
    display: none;
  }

  .topnav {
    display: block;
  }
}
