html,
body {
  display: block;
  scroll-behavior: smooth;
  font-family: "Century Gothic";
  height: 100%;
  width: 100%;
  margin: 0;
}

.topnav {
  width: 100%;
  text-align: center;
}

.topnav li {
  display: inline-block;
  float: none;
}

.topnav a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.topnav a:hover {
  color: #b17419;
}

.wrapper {
  display: block;
  height: 700px;
  width: 100%;
  background-image: url(../images/wrapper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.definition {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0.5;
  margin-top: 20px;
  font-size: 18px;
}

.definition p {
  line-height: 1.3;
}

footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background-color: #d9d6c3;
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: 50px;
}

#ig {
  font-size: 40px;
  margin: 5px;
  color: black;
}

footer h4 {
  margin-top: 1px;
  margin-bottom: 0px;
}

/* CandleCare IS BELOW*/
.candlecarewrapper {
  background-image: url(../images/candlecare.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.candlecare {
  position: relative;
  text-align: center;
  margin-top: 40px;
  color: #000000;
  height: 43%;
  top: 20%;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
}

.candlecare h1 {
  font-size: 45px;
}

.candlecare h4 {
  font-size: 20px;
}

/*Animations*/
@keyframes candlecaretrans {
  from {
    background-color: #d9d6c3;
  }
  to {
    background-color: rgba(217, 214, 195, 0.7);
  }
}

/* ORDER PAGE IS BELOW*/
.orderwrap {
  position: fixed;
  height: 85%;
  width: 100%;
  background-image: url(../images/Orders.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.orderinfo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 40%;
  text-align: center;
  height: 400px;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
}

.orderinfo h3 {
  font-size: 40px;
  padding-top: 20px;
}

.orderinfo h4 {
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topnav a {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .topnav img {
    width: 80px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
