* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  scroll-behavior: smooth;
  font-family: "Century Gothic";
  height: 100%;
  width: 100%;
  /* margin: 0; */
}

#container {
  min-height: 100%;
  /* background-color: red; */
}

#main {
  overflow: auto;
  padding-bottom: 75px;
}

.topnav {
  position: relative;
  width: 100%;
  text-align: center;
}

.topnav li {
  display: inline-block;
  float: none;
}

.topnav a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.topnav a:hover {
  color: #b17419;
}

/* MOBILE NAV */
.mobiletopnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: none;
}

#links {
  display: none;
}

.mobiletopnav a {
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobiletopnav a.icon {
  background-color: #d9d6c3;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  display: block;
  height: 700px;
  /* width: 100%; */
  width: 99%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-image: url(../images/wrapper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;

}

.auxiliary-container {
  width: 100%;
  text-align: center;
}

.auxiliary-text {
  /* display: table-cell; */
  /* width: 413px; */
  /* text-align: center; */

  text-align: left;

  display: inline-block; 
  vertical-align: top;

  margin-left: 40px;
  margin-right: 40px;
  line-height: 0.6;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  /* background-color: hotpink; */
}

.auxiliary-text p {
  line-height: 1.3;
}

footer {
  position: relative;
  background-color: #d9d6c3;
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: -75px;
  clear: both;
}

#ig {
  font-size: 40px;
  margin: 5px;
  color: black;
}

footer h4 {
  margin-top: 1px;
  margin-bottom: 0px;
}

/* CandleCare IS BELOW*/
.candlecarewrapper {
  background-image: url(../images/candlecare.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.candlecare {
  position: relative;
  text-align: center;
  margin-top: 25px;
  color: #000000;
  height: 43%;
  width: 100%;
  top: 20%;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
}

.candlecare h1 {
  font-size: 45px;
}

.candlecare h4 {
  font-size: 20px;
  line-height: 2;
  margin: 10px;
}

/*Animations*/
@keyframes candlecaretrans {
  from {
    background-color: #d9d6c3;
  }
  to {
    background-color: rgba(217, 214, 195, 0.7);
  }
}

/* ORDER PAGE IS BELOW*/
.orderwrap {
  position: fixed;
  height: 85%;
  width: 100%;
  background-image: url(../images/Orders.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.orderinfo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 40%;
  text-align: center;
  height: 400px;
  background-color: rgba(217, 214, 195, 0.7);
  animation-name: candlecaretrans;
  animation-duration: 2s;
}

.orderinfo h3 {
  font-size: 40px;
  padding-top: 20px;
}

.orderinfo h4 {
  font-size: 20px;
}

@media only screen and (max-width: 374px) {
  /* Candle Care */
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 85%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 25px;
  }

  .candlecare h4 {
    font-size: 10px;
    line-height: 0.9;
  }
}
/* 325px and below*/
@media only screen and (max-width: 325px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 85%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 25px;
  }

  .candlecare h4 {
    font-size: 13px;
    line-height: 0.9;
  }
}

/* 350px - 375px */
@media only screen and (min-width: 350px) and (max-width: 375px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 85%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 25px;
  }

  .candlecare h4 {
    font-size: 14px;
    line-height: 1;
  }
}
/* width 375px and min height of 812*/
@media only screen and (min-width: 375px) and (max-width: 375px) and (min-height: 812px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 87%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 25px;
  }

  .candlecare h4 {
    font-size: 19px;
    line-height: 1;
  }
}

/* 400px to 415px */
@media only screen and (min-width: 400px) and (max-width: 415px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 85%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 30px;
  }

  .candlecare h4 {
    font-size: 19px;
    line-height: 0.9;
  }
}
/* Focus on surface duo 530px - 540px */
@media only screen and (min-width: 530px) and (max-width: 540px) {
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 85%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 30px;
  }

  .candlecare h4 {
    font-size: 20px;
    line-height: 1;
  }
}

/* FOR IPADS AND LARGER PHONES */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Candle Care */
  .mobiletopnav {
    display: block;
  }

  .topnav {
    display: none;
  }

  .candlecarewrapper {
    height: 90%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 40px;
  }

  .candlecare h4 {
    font-size: 25px;
    line-height: 1.7;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .candlecarewrapper {
    height: 90%;
  }

  .candlecare {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .candlecare h1 {
    font-size: 50px;
  }

  .candlecare h4 {
    font-size: 35px;
    line-height: 1.5;
  }
}
